<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
 	
 	<select id="count" resultType="int">
 		select count(*) from product
 	</select>
 	<select id="mainList" resultType="com.mycompany.gofarm.product.dto.ProductDTO">
 		select * from product order by prod_code desc
 	</select>
 	
 	
 	<select id="list" resultType="com.mycompany.gofarm.product.dto.ProductDTO"
 	 parameterType="com.mycompany.gofarm.product.dto.PageDTO">
 		<![CDATA[
 		select b.* from (select rownum as rm , a.* from(
		select * from product order by prod_code desc)a)b
		where b.rm>=#{startRow} and b.rm<=#{endRow}
	]]>
 	</select>
 	
 	<select id="view" parameterType="int" resultType="com.mycompany.gofarm.product.dto.ProductDTO">
 		select * from product where prod_code = #{prod_code} 
 	</select>
 	<insert id="deal" parameterType="com.mycompany.gofarm.product.dto.DealDTO">
 		insert into DEAL VALUES(DEAL_SEQ.nextval , #{prod_code} , sysdate , #{de_cnt} , #{de_usercode})
 	</insert>
 	
 	<update id="product_cnt"  parameterType="com.mycompany.gofarm.product.dto.DealDTO">
 		update product set pd_cnt = pd_cnt - #{de_cnt} where prod_code = #{prod_code}
 	</update>
 	
 	<select id="userinfo" parameterType="int" 
 	resultType="com.mycompany.gofarm.user.dto.UserDTO">
 		select * from users where usercode = #{usercode}
 	</select>
 	
 	<select id="detailinfo"  parameterType="int" 
 		resultType="com.mycompany.gofarm.user.dto.UserDTO">
 		select * from user_detail where usercode = #{usercode}
 	</select>
 	
 	<insert id="productIns" parameterType="com.mycompany.gofarm.product.dto.ProductDTO">
 		insert into PRODUCT VALUES(PRODUCT_SEQ.nextval,#{usercode} ,#{pd_file} , #{pd_name} , #{pd_price} ,#{pd_cnt},#{producer} ,#{origin},#{pd_phone},#{pd_detail})

 	</insert>
 	
 	<update id="productUpd" parameterType="com.mycompany.gofarm.product.dto.ProductDTO">
 		update PRODUCT  set  pd_name = #{pd_name}, pd_price = #{pd_price}, pd_cnt =#{pd_cnt} ,
 		 producer =#{producer} , origin = #{origin}, pd_phone = #{pd_phone}, pd_detail =#{pd_detail} where prod_code =#{prod_code} 
 	</update>
 	
 	<delete id="productDel" parameterType="int">
 		delete from product where prod_code = #{prod_code}
 	</delete>
 	
 	
 	<select id="reviewList" parameterType="int" resultType="com.mycompany.gofarm.product.dto.ReviewDTO" >
 			select * from review where prod_code = #{prod_code}
 	</select>
 	
 	<insert id="mileage_insert" parameterType="com.mycompany.gofarm.mypage.dto.MileageDTO">
 		insert into mileage values(#{usercode},#{m_list},#{m_total}, sysdate, #{m_content})
 	</insert>
 	
 	<select id="mileage_view" resultType="com.mycompany.gofarm.mypage.dto.MileageDTO"
 	 parameterType="int">
 		SELECT * FROM mileage WHERE usercode= #{usercode} and m_day = (SELECT MAX(m_day)AS m_day FROM mileage)
 	</select>
 	
 	<update id="mileage_update" parameterType="com.mycompany.gofarm.mypage.dto.MileageDTO">
 		update USER_DETAIL set mileage=#{m_total} where usercode=#{usercode}
 	</update>
</mapper>
