<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
 	<insert id="signup" parameterType="com.mycompany.gofarm.user.dto.UserDTO">
 		insert into users 
 		values(users_seq.nextval, #{userid}, #{userpw}, #{name}, 
 			#{birth}, #{phone}, #{email}, #{nickname}, 1)
 	</insert>
 	
 	<insert id="signupdetail" parameterType="com.mycompany.gofarm.user.dto.UserDTO">
 		insert into user_detail
 		values(#{usercode} , #{bank}, #{account}, 0, #{user_home})
 	</insert>

	<!-- <select id="logincheck" parameterType="com.mycompany.gofarm.user.dto.UserDTO"
		resultType="int">
		select count(*) from users
		where userid=#{userid} and userpw=#{userpw}
	</select> -->
	
	<select id="logincheck" parameterType="com.mycompany.gofarm.user.dto.UserDTO"
		resultType="com.mycompany.gofarm.user.dto.UserDTO">
		select usercode,userid,userpw,name,to_char(birth,'yyyy-mm-dd')as birth,phone,email,nickname,userlvl from users
		where userid=#{userid} and userpw=#{userpw}
	</select>
	
	<select id="haskakaoid" parameterType="string" resultType="int">
		select count(*) from users
		where email=#{email}
	</select>
	
	<select id="kakaoinfo" parameterType="string"
		resultType="com.mycompany.gofarm.user.dto.UserDTO">
		select * from users
		where email=#{email}
	</select>
	
	<update id="chengelvl" parameterType="int">
		update users set userlvl=2 where usercode=#{usercode}
	</update>
	
	<update id="updateinfo" parameterType="com.mycompany.gofarm.user.dto.UserDTO">
		update users set userid=#{userid}, userpw=#{userpw}, name=#{name},
				birth=#{birth}, phone=#{phone}, email=#{email}, nickname=#{nickname}
		where usercode=#{usercode}
	</update>
	
	<select id="idchk" parameterType="string" resultType="int">
		select count(*) from users where userid=#{userid}
	</select>
</mapper>
