<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mem">
	<select id="all" resultType="part03_annotation.MemDTO">
		select * from mem order by num
	</select>
	
	<insert id="ins" parameterType="part03_annotation.MemDTO">
		insert into mem values(mem_num_seq.nextval, #{name, jdbcType=VARCHAR},#{age}, #{loc, jdbcType=VARCHAR})
	</insert>
	
	<select id="one" parameterType="int" resultType="part03_annotation.MemDTO">
		select * from mem where num=#{num}
	</select>
	
	<update id="upt" parameterType="part03_annotation.MemDTO">
		update mem set name=#{name}, age=#{age}, loc=#{loc} where num= #{num}
	</update>
	
	<delete id="del" parameterType="int">
		delete from mem where num= #{num}
	</delete>
</mapper>