<style type="text/css">

/* <% request.getContextPath() %> */

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Jua|Sunflower:300&display=swap');

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
 /*  background: #DDD; */
  font-size: 16px;
  color: #222;
  font-family: 'Sunflower';
  font-weight: 300;
  background-color: #D8D8D8;
  /* background-image: url("../images/test1.jpg"); */
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: bold;
   font-family: 'Jua';
    opacity: 1;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Jua';
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
   opacity: 1;
}

input[type="submit"] {
  margin-top: 28px;
  width: 105px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Jua';
  font-weight: 500;
 font-size:18px;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

.btn-info{
  margin-top: -7px;
  width: 105px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Jua';
  font-weight: 500;
  font-size:18px;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
   opacity: 1;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 150px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
  font-family: 'Sunflower';
  font-weight: 400;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  padding-top: 50px;
  width: 300px;
  height: 400px;
  /* background: url('https://goo.gl/YbktSj'); */
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
  /* background-image: url(""); */
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: black;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: black;
  font-family: 'Sunflower';
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
  opacity: 1;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.naver {
  background: #2DB400;
  color : black;
   font-size: 18px;
  font-weight: 600;
   font-family: 'Do Hyeon';
    opacity: 0.9;
}

button.social-signin.kakao {
  background: #F7E600;
  color : black;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Do Hyeon';
   opacity: 0.9;
}


</style>